$text_color: (
    primary: #ffffffe6,
    off_primary: #858585,
    secondary: #8664e4,
    success: #28a745,
    danger: #dc3545,
    warning: #ffc107,
    info: #17a2b8
);

$font_size: (
    small: 1.4rem,
    normal: 1.6rem,
    medium: 1.8rem,
    large: 3.2rem,
    giant: 5.8rem,
);