@mixin font_K2D($color: primary, $size : normal, $weight : semibold) {
    font-family: 'K2D';
    font-size: map-get($font_size, $size);
    font-weight: $weight;
    color: map-get($text_color, $color);
}

@mixin font_Q($color: primary, $size : normal, $weight : semibold) {
    font-family: 'Quicksand';
    font-size: map-get($font_size, $size);
    font-weight: $weight;
    color: map-get($text_color, $color);
}

@mixin font($color: primary, $size : normal, $weight : semibold, $type: K2D) {
    font-family: $type;
    font-size: map-get($font_size, $size);
    font-weight: $weight;
    color: map-get($text_color, $color);
}

@mixin font_extra($height: normal, $spacing: normal, $align: center, $transform: none) {
    line-height: $height;
    letter-spacing: $spacing;
    text-align: $align;
    text-transform: $transform;
}